name: Main Pipeline

on:
  push:
    branches: ["main"]

permissions:
  contents: read
  packages: write

jobs:
  build-and-push:
    uses: ./.github/workflows/reusable-docker.yml
    secrets: inherit
